.container{
  display: flex;
  .nav_left{
    height:calc(100vh);
    width 256px;
    background: #001529;
  }
  .main{
    flex: 1;
    height:calc(100vh);
    background: pink;
    .content{
      position: relative;
      padding: 20px;  
    }  
  }  
}