.container{
  display: flex;
  .nav_left{
    min-height:calc(100vh);
    width 256px;
    background: #001529;
  }
  .main{
    flex: 1;
    min-height:calc(100vh);
    background: $colorL;
    .content{
      padding: 20px;
      position: relative;
      margin: 20px;
      background: #fff;  
    }  
  }  
}